<div class="widget-content">
  <div class="alert alert-danger" role="alert" *ngIf="msgErro">
    {{ msgErro }}
  </div>
  <div class="row-fluid">
    <div class="widget-box">
      <div class="widget-title bg_lg">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>Poloniex</h5>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Pair</th>
            <th>quoteVolume</th>
            <th>high24hr</th>
            <th>highestBid</th>
            <th>last</th>
            <th>low24hr</th>
            <th>lowestAsk</th>
            <th>percentChange</th>
            <th>quoteVolume</th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd gradeX" *ngFor="let key of arrayOfKeys">
            <td>{{tickers[key].id}}</td>
            <td>{{key}}</td>
            <td>{{tickers[key].quoteVolume}}</td>
            <td>{{tickers[key].high24hr}}</td>
            <td>{{tickers[key].highestBid}}</td>
            <td>{{tickers[key].last}}</td>
            <td>{{tickers[key].low24hr}}</td>
            <td>{{tickers[key].lowestAsk}}</td>
            <td>{{tickers[key].percentChange}}</td>
            <td>{{tickers[key].quoteVolume}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>