<!--sidebar-menu-->
<div id="sidebar"><a routerLink="/home" class="visible-phone"><i class="icon icon-home"></i> Principal</a>
  <ul>
    <li routerLinkActive="active"><a routerLink="/home"><i class="icon icon-home"></i> <span>Principal</span></a> </li>
    <li routerLinkActive="active"> <a routerLink="/graficos"><i class="icon icon-signal"></i> <span>Gráficos</span></a> </li>
    <li routerLinkActive="active"> <a routerLink="/extrato"><i class="icon icon-inbox"></i> <span>Extrato Financeiro</span></a> </li>
    <li routerLinkActive="active"><a routerLink="/ordens"><i class="icon icon-th"></i> <span>Ordens</span></a></li>
    <li routerLinkActive="active"><a routerLink="/noticias"><i class="icon icon-fullscreen"></i> <span>Notícias</span></a></li>
    <!--<li routerLinkActive="active" class="submenu"> <a routerLink="/home"><i class="icon icon-th-list"></i> <span>Forms</span> <span class="label label-important">3</span></a>
      <ul>
        <li><a routerLink="/home">Basic Form</a></li>
        <li><a routerLink="/home">Form with Validation</a></li>
        <li><a routerLink="/home">Form with Wizard</a></li>
      </ul>
    </li>-->
  </ul>
</div>
<!--sidebar-menu-->